.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
}
.mainbox:after {
    position: absolute;
    content: '';
    width:32px;
    height: 32px;
    /* background: url(../images/logo.png) no-repeat; */
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 5s;
}
span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}
.span1 {
    clip-path: polygon(0 71%, 100% 50%, 0% 29%);
    background-color: #8a7900;
    top: 120px;
    left: 0;
    color: #fff;
}

.span2 {
    clip-path: polygon(100% 29%, 0 50%, 100% 71%);
    background-color: #8a7900;
    top: 120px;
    right: 0;
}

.span3 {
    clip-path: polygon(50% 0%, 29% 100%, 71% 100%);
    background-color: #8a7900;
    bottom: 0;
    left: 120px;
}

.span4 {
    clip-path: polygon(50% 100%, 71% 0%, 29% 0%);
    background-color: #8a7900;
    top: 0;
    left: 120px;
}

.span5 {
    clip-path: polygon(0 71%, 100% 50%, 0% 28%);
    background-color: #f4d600;
    top: 120px;
    left: 0;
    color: #fff;
}

.span6 {
    clip-path: polygon(100% 28%, 0 50%, 100% 72%);
    background-color: #f4d600;
    top: 120px;
    right: 0;
}

.span7 {
    clip-path: polygon(50% 0%, 28% 100%, 71% 100%);
    background-color: #f4d600;
    bottom: 0;
    left: 120px;
}

.span8 {
    clip-path: polygon(50% 100%, 72% 0%, 29% 0%);
    background-color: #f4d600;
    top: 0;
    left: 120px;
}
.span1>p {
    transform: rotate(180deg);
    position: absolute;
    z-index: 9;
    left: 18% !important;
    top: 46% !important;
}

.span2>p {
    position: absolute;
    z-index: 9;
    left: 26% !important;
    top: 46% !important;
    color: #fff;
}

.span3>p {
    transform: rotate(90deg);
    position: absolute;
    z-index: 9;
    left: 20% !important;
    top: 52% !important;
    color: #fff;
}

.span4>p {
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    left: 20% !important;
    top: 40% !important;
    color: #fff;
}


.span5>p {
    transform: rotate(180deg);
    position: absolute;
    z-index: 9;
    left: 15% !important;
    top: 47% !important;
    color: #fff;
}


.span6>p {
    position: absolute;
    z-index: 9;
    left: 25% !important;
    top: 45% !important;
    color: #fff;
}

.span7>p {
    transform: rotate(90deg);
    position: absolute;
    z-index: 9;
    left: 21% !important;
    top: 50% !important;
    color: #fff;
}

.span8>p {
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    left: 20% !important;
    top: 40% !important;
    color: #fff;
}

span>p {
    width: 140px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.box1{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(90deg);
}
.box2{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(22deg);
}
.box3{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(44deg);
}
.box4{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(66deg);
}
.box5{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-140deg);
}
.box6{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-130deg);
}
.box7{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-120deg);
}
.box8{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-110deg);
}
.box9{
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-100deg);
}
span b {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgb(77, 74, 74);
}
.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75px;
    height:75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}


.span1 > b {
    z-index: 9;
    left: 7% !important;
    top: 50% !important;
}
.span2 > b {
    z-index: 9;
    transform: rotate(90deg);
    left:86% !important;
    top: 43% !important;

}
.span3 > b {
    transform: rotate(90deg);
    left:43% !important;
    top: 86% !important;
    z-index: 9;

}
.span4 > b {
    transform: rotate(90deg);
    left:43% !important;
    top: 0% !important;
    z-index: 9;

}
.span5 > b {
    left: 7% !important;
    top: 50% !important;
    z-index: 9;

}
.span6 > b {
    transform: rotate(90deg);
    left:86% !important;
    top: 43% !important;
    z-index: 9;

}
.span7 > b{
    transform: rotate(90deg);
    left:44% !important;
    top: 86% !important;
    z-index: 9;

}
.span8 > b {
    left: 50% !important;
    top: 7% !important;
    z-index: 9;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.wheel {
    /* background: #b7f0f3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover;

}

#prize {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    background: transparent;
    border: none;
}

#claim {
    color: #fff;
    background-color: #6913b0;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 10px;
}
#claim-replay {
    color: #fff;
    background-color: #178e07;
    border: none;
    padding:20px;
    border-radius: 5px;
    margin: 0 10px;

}
#btns-wrapper{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#prizeform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

#div1 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.prizeName-active{
    background-color: #9507f6;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #9507f6;
}
@media screen and (max-width: 520px) {
    span>p {
        width: 85px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 11px;
    }

    .mainbox {
        position: relative;
        width: 300px;
        height: 300px;
    }

    .mainbox:after {
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        /* background: url(../images/logo.png) no-repeat; */
        background-size: 32px;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
    }

    .box {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
        border: 10px solid #fff;
        overflow: hidden;
        transition: all ease 5s;
    }

    span {
        width: 50%;
        height: 50%;
        display: inline-block;
        position: absolute;
    }

    .span1 {
        clip-path: polygon(0 70%, 100% 50%, 0% 30%);
        background-color: #8a7900;
        top: 70px;
        left: 0;
        color: #fff;
    }

    .span2 {
        clip-path: polygon(100% 30%, 0 50%, 100% 70%);
        background-color: #8a7900;
        top: 70px;
        right: 0;
    }

    .span3 {
        clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
        background-color: #8a7900;
        bottom: 0;
        left: 70px;
    }

    .span4 {
        clip-path: polygon(50% 100%, 70% 0%, 30% 0%);
        background-color: #8a7900;
        top: 0;
        left: 70px;
    }

    .span5 {
        clip-path: polygon(0 70%, 100% 50%, 0% 30%);
        background-color: #f4d600;
        top: 70px;
        left: 0;
        color: #fff;
    }

    .span6 {
        clip-path: polygon(100% 30%, 0 50%, 100% 70%);
        background-color: #f4d600;
        top: 70px;
        right: 0;
    }

    .span7 {
        clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
        background-color: #f4d600;
        bottom: 0;
        left: 70px;
    }

    .span8 {
        clip-path: polygon(50% 100%, 70% 0%, 30% 0%);
        background-color: #f4d600;
        top: 0;
        left: 70px;
    }

    .box1 {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(0deg);
    }

    .box2 {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(22.5deg);
    }

    .box3 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(45deg);
    }

    .box4 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(67.5deg);
    }

    .box5 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-140deg);
    }

    .box6 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-130deg);
    }

    .box7 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-120deg);
    }

    .box8 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-110deg);
    }

    .box9 {
        position: absolute;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: rotate(-100deg);
    }

    span b {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        background-color: rgb(77, 74, 74);
    }

    .spin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 4px solid #fff;
        background-color: #ff5722;
        color: #fff;
        box-shadow: 0 5px 20px #000;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }

    .spin:active {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }


    .span1>b {
        z-index: 9;
        left: 7% !important;
        top: 50% !important;
    }

    .span2>b {
        z-index: 9;
        transform: rotate(90deg);
        left: 86% !important;
        top: 43% !important;

    }

    .span3>b {
        transform: rotate(90deg);
        left: 43% !important;
        top: 86% !important;
        z-index: 9;

    }

    .span4>b {
        transform: rotate(90deg);
        left: 43% !important;
        top: 0% !important;
        z-index: 9;

    }

    .span5>b {
        left: 7% !important;
        top: 50% !important;
        z-index: 9;

    }

    .span6>b {
        transform: rotate(90deg);
        left: 86% !important;
        top: 43% !important;
        z-index: 9;

    }

    .span7>b {
        transform: rotate(90deg);
        left: 44% !important;
        top: 86% !important;
        z-index: 9;

    }

    .span8>b {
        left: 50% !important;
        top: 7% !important;
        z-index: 9;

    }

    .span1>p {
        transform: rotate(180deg);
        position: absolute;
        z-index: 9;
        left: 18% !important;
        top: 46% !important;
    }

    .span2>p {
        position: absolute;
        z-index: 9;
        left: 26% !important;
        top: 46% !important;
        color: #fff;
    }

    .span3>p {
        transform: rotate(90deg);
        position: absolute;
        z-index: 9;
        left: 20% !important;
        top: 52% !important;
        color: #fff;
    }

    .span4>p {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        left: 20% !important;
        top: 40% !important;
        color: #fff;
    }


    .span5>p {
        transform: rotate(180deg);
        position: absolute;
        z-index: 9;
        left: 15% !important;
        top: 47% !important;
        color: #fff;
    }


    .span6>p {
        position: absolute;
        z-index: 9;
        left: 25% !important;
        top: 45% !important;
        color: #fff;
    }

    .span7>p {
        transform: rotate(90deg);
        position: absolute;
        z-index: 9;
        left: 21% !important;
        top: 50% !important;
        color: #fff;
    }

    .span8>p {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        left: 20% !important;
        top: 40% !important;
        color: #fff;
    }

}
